@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}
body {
    min-height: 100%;
}
:root {
    --font-base: 'Figtree', serif;
    --font-alt: 'Figtree', sans-serif;

    --color-green: #3DBE98;
    --color-pink: #EE2255;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.h__figtree {
    font-family: var(--font-base);
    font-weight: 700;
    line-height: 54.47px;
    font-size: 40px;
}

.p__figtree {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 18px;
    line-height: 24.51px;
}
span {
    font-weight: 300;
}

@media screen and (max-width: 440px) {

    .h__figtree {
        font-size: 30px;
    }
    .p__figtree {
        font-size: 20px;
    }
}